name: Build APK
on: [push]

jobs:
 build:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v4
   - name: Setup JDK
     uses: actions/setup-java@v4
     with:
       distribution: temurin
       java-version: 17
   - name: Build
     run: |
       chmod +x gradlew || true
       ./gradlew assembleDebug
   - name: Upload APK
     uses: actions/upload-artifact@v4
     with:
       name: app
       path: app/build/outputs/apk/debug/app-debug.apk
